[submodule "Echo-Module-Handshake"]
	path = Echo-Module-Handshake
	url = https://github.com/prjEcho/Echo-Module-Handshake
[submodule "Echo-Module-Navigator"]
	path = Echo-Module-Navigator
	url = https://github.com/prjEcho/Echo-Module-Navigator
[submodule "Echo-API"]
	path = Echo-API
	url = https://github.com/prjEcho/Echo-API
[submodule "Echo-Module-Room"]
	path = Echo-Module-Room
	url = https://github.com/prjEcho/Echo-Module-Room
[submodule "Echo-Storage"]
	path = Echo-Storage
	url = https://github.com/prjEcho/Echo-Storage
